<%- include('partials/header') %>

<div class="login">
  <div class="logo"></div>
  <h1>Present Meet</h1>
  <h2>Log in to your account</h2>
  <p>Sign in Using</p>
  <div class="socialmediaIcon">
    <div class="card-body">
      <a
        class="btn btn-block btn-social btn-google"
        href="/auth/google"
        role="button"
      >
        <i class="fab fa-google"></i>
        Google
      </a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
