<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/room.css" />
    <!-- <script
      src="https://kit.fontawesome.com/a2592a1c75.js"
      crossorigin="anonymous"
    ></script> -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Present Meet</title>
  </head>
  <body>
    <div class="videoCall">
      <main class="container">
        <div id="room__container">
          <section class="tileFaces" id="stream__container">
            <div id="stream__box"></div>

            <div id="streams__container">
              <div class="video__container" id="user-container-1">
                <h1>1</h1>
              </div>
              <div class="video__container" id="user-container-1">
                <h1>2</h1>
              </div>
              <div class="video__container" id="user-container-1">
                <h1>3</h1>
              </div>
              <div class="video__container" id="user-container-1">
                <h1>4</h1>
              </div>
            </div>
          </section>

          <section id="messages__container">
            <div id="messages"></div>
          </section>
        </div>
      </main>

      <div class="footerBtn">
        <div class="videoLink">
          <!--dine yung link-->
          <p class="link"></p>
        </div>
        <button
          class="copy"
          onclick="copyClipboard()"
          class="icon"
          type="button"
        >
          <i class="fa-solid fa-copy"></i>
        </button>

        <!-- </button> -->
        <div class="middleBtn">
          <button class="button"><i class="fa-solid fa-microphone"></i></button>
          <button class="button"><i class="fa-solid fa-video"></i></button>
          <button class="button"><i class="fa-solid fa-desktop"></i></button>
          <!-- <button><i class="fa-solid fa-ellipsis-vertical"></i></button> -->
          <button class="button" id="endCall">
            <i class="fa-solid fa-phone"></i>
          </button>
        </div>
        <div class="rightBtn">
          <button class="button"><i class="fa-solid fa-users"></i></button>
          <button class="button"><i class="fa-solid fa-envelope"></i></button>
        </div>
      </div>
    </div>

    <script defer src="javascript/room.js"></script>
    <script src="https://sdk.videosdk.live/js-sdk/0.0.41/videosdk.js"></script>
  </body>
</html>
