* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e8ecef;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.login {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login p {
  font-size: 20px;
}

.fa-google {
  background-color: #dd4b39;
}

@media (max-width: 1000) {
  .login {
    font-size: 1rem;
  }
}
