* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  margin: 10px;
}

#form {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 1.5rem;
}

.form-group {
  margin: 5px;
}

#user-type-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  text-align: center;
  width: 100%;
  padding: 5px 10px;
  font-size: 1rem;
}

select {
  font-size: 1rem;
  padding: 5px 10px;
  font-size: 1rem;
  display: flex;
  margin: 10px auto;
}

#submit-btn,
#change-pw-btn {
  background-color: #2aca3e;
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  color: #fff;
  text-shadow: 2px 2px black;
  bottom: 0.9rem;
  border-radius: 8px;
  display: flex;
  margin: 3% auto;
  cursor: pointer;
}

.footer {
  text-align: center;
  font-size: 1.2rem;
}

@media (max-width: 1600px) {
  main {
    overflow: hidden;
  }
  #form {
    width: 100vw;
  }
  #user-face {
    width: 100%;
  }
  .card {
    width: 40%;
  }
}
@media (max-width: 1000px) {
  main {
    overflow: hidden;
  }
  #form {
    width: 100vw;
  }
  #user-face {
    width: 100%;
  }
  .card {
    width: 50%;
  }
}
@media (max-width: 768px) {
  main {
    overflow: hidden;
  }
  #form {
    width: 100vw;
  }
  #user-face {
    width: 100%;
  }
  .card {
    width: 60%;
  }
}
@media (max-width: 480px) {
  main {
    overflow: hidden;
  }
  #form {
    width: 100vw;
  }
  #user-face {
    width: 100%;
  }
  .card {
    width: 70%;
  }
}
