body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: #000000;
}

.videoCall {
  height: 100vh;
  position: relative;
}

/* Screen */
.tileFaces {
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -49%);
  height: 90vh;
  width: 95%;
  overflow: hidden;
  overflow-y: auto;
  text-align: justify;
}

/* .tileFaces {
  z-index: 1;
  margin: 0 auto;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-57%, -49%);
  height: 90vh;
  width: 86%;
  overflow: hidden;
  overflow-y: auto;
  text-align: justify;
  float: left;
} */

/* Buttons Styles*/

.footerBtn {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  /* justify-content: space-between; */
  place-items: center;
  padding: 10px 0 10px 0;
  color: #fff;
  font-size: 20px;
}

.videoLink {
  padding-left: 50px;
  float: left;
  justify-content: flex-start;
}

.rightBtn {
  margin-right: 50px;
}

.middleBtn {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 20vw;
  justify-content: space-evenly;
}

.rightBtn {
  margin-right: 50px;
  display: flex;
  justify-content: space-evenly;
  width: 10vw;
}

#endCall {
  background-color: red;
}

.button {
  background-color: #494949;
  color: white;
  width: 60px;
  height: 60px;
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 1000px;
}

.active {
  background-color: green;
  color: black;
}

.button:hover,
.copy:hover {
  color: black !important;
  background-color: white;
}

.copy {
  color: #fff;
  background-color: #494949;
  width: 50px;
  height: 50px;
  display: flex;
  place-content: center;
  place-items: center;
  border-radius: 10px;
}

.copy:active {
  border: 1px solid black;
}

.footerBtn > .middleBtn > button {
  color: #fff;
  font-size: 20px;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Users Stream */

.video__container {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #494949;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  width: 300px;
  height: 200px;
  position: relative;
  background-image: url('../img/logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.video-player {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.video-player video {
  display: block;
  position: absolute;
  border-radius: 20px;
}

.name {
  font-size: 18px;
  margin: -11px;
  position: absolute;
  text-shadow: 2px 2px black;
  padding: 0;
  bottom: 0;
  /* right: 20px; */
}

video {
  object-fit: fill !important;
}

#stream__box {
  display: block;
  margin: auto;
  background-color: #494949;
  height: 85vh;
  width: 80vw;
  display: none;
}

#stream__box .video__container {
  border: 2px solid white;
  border-radius: 10px;
  width: 100% !important;
  height: 100% !important;
}

#stream__box video {
  border-radius: 10px;
}

#streams__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
  gap: 2em;
}

.container__stream {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Messages */

#messages__container {
  display: none;
  z-index: 99;
  height: calc(100vh - 85px);
  background-color: #262625;
  right: 0;
  position: absolute;
  width: 100%;
  height: 90vh;
  max-width: 25rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

#messages {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.message__wrapper:last-child {
  margin-bottom: 6.5rem;
}

.message__wrapper {
  display: flex;
  gap: 10px;
  margin: 1em;
}

.message__body {
  background-color: #4c5265;
  border-radius: 10px;
  padding: 10px 15px;
  width: fit-content;
  max-width: 900px;
}

.message__body strong {
  font-weight: 600;
  color: #ede0e0;
}

.message__body__bot {
  padding: 0 20px;
  max-width: 900px;
  color: #bdbdbd;
}

.message__author {
  margin-right: 10px;
  color: yellow !important;
}

.message__author__bot {
  margin-right: 10px;
  color: #a52aca !important;
}

.message__text {
  color: white;
  margin: 0;
}

#message__form {
  width: 23.2rem;
  position: inherit;
  bottom: 0;
  /* display: none; */
  background-color: #1a1a1a;
  padding: 1em;
}

#message__form input {
  color: #fff;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 18px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #3f434a;
}

#message__form input:focus {
  outline: none;
}

#message__form input::placeholder {
  color: #707575;
}

/* end messages */

/* members container */

#members__container {
  display: none;
  z-index: 99;
  height: calc(100vh - 85px);
  background-color: #262625;
  right: 0;
  position: absolute;
  width: 100%;
  max-width: 15rem;
  overflow-y: auto;
  overflow-x: hidden;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

#members__header {
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  padding: 0 1rem;
  /* position: fixed; */
  font-size: 18px;
  background-color: #323143;
  width: 218px;
}

#member__list {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.member__list::-webkit-scrollbar {
  height: 14px;
}

.member__wrapper {
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-left: 1em;
}

.green__icon {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #2aca3e;
}

.member_name {
  font-size: 14px;
  line-height: 0;
}

/* End members */

@media (max-width: 1400px) {
  .video__container {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 768px) {
  #stream__box {
    height: 75vh;
  }
  .video__container {
    width: 120px;
    height: 100px;
  }
}
